body{
    margin:0;
    padding:0;
}

#header{
        height: 175px; 	
        margin: 0; 
        padding: 0; 
        border: 0; 
        background: #FE010D;
        text-align: center;
}    
        
#Name1{
         font-family: Arial; 
         font-size: 40px;
         margin-left:0px;
         margin-bottom: 0px;
         padding-top:30px;
}
   
#Name2{
         font-family: Arial; 
         font-size: 22px;
         margin-left:0;
         margin-bottom: 0;
         padding-top:0;
         margin-top:0;
         font: 400 100px/1 'Pacifico', Helvetica, sans-serif;
         color: #2b2b2b;
         text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}
      
#wrapper1{
          width: 70%;
          float:left;
          overflow: auto;
          min-width: 582px;
          margin-top:10px;
          margin-left:10px;
}
         
#image1{
        float:left;
        border:1px solid black;
}
        
#image2{
        float: left;
        border: 3px solid black;
        margin-left:10px;
}

#image3{
        width:80px;
        height:80px;
}

#sidebar {
          width: 20%; 
          height: 350px; 	
          margin-top: 0; 
          padding: 50px 0; 
          border: 0; 
          float: left; 
          background: #E8E8E8;
}    
          
#sidebar p{
          margin-left: 50px;
          margin-right:50px;
          font-family: Arial;
}     
     
#content1 {
          height: 250px; 	
          margin: 0; 
          padding: 0px; 
          background: #FFFFFF;
          font-family: Arial; 
          font-size: 16px;
          clear:both;
}   
         
#content2 {
          height: 275px; 	
          margin: 0; 
          padding: 20px; 
          background: #FFFFFF;
          font-family: Arial; 
          font-size: 14px;
          float:left;
}  
         
#scrollers{
           overflow: hidden;
           margin-left:400px;
           margin-right:400px;
           margin-top: 100px;
           padding: 10px;
}
          
#video{
       padding:15px;
       float:right;
       width:560px;
       margin:0 auto;
}

#footer {
        width: 900px; 	
        height: 70px; 	
        margin: 0; 
        padding: 0; 
        float: bottom; 
        background: #FFFFFF; 
        clear:both;
}         
           
.square{
    width:100px;
    height:100px;
}

.v{
    border-left:1px solid #000;
    border-right:1px solid #000;
}

.h{
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}

#container{
    text-align:center;
    font-family: Arial;
}

#board {
    display: inline-block;
    margin-top:2%;

}
.invisible {
    visibility:hidden;
}
.visible {
    visibility:visible;
}
.header {
  font: 400 30px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}

table {
    background-color: #FAFAFA;
    text-align:center;
      font: 400 30px/1.5 'Pacifico', Helvetica, sans-serif;
}
p {
    margin-left:25%;
    margin-right:25%;
}        